body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #212426;
}

/* css part */
/* headr css */
.header{
    background-color: #212426;
   padding: 10px 0;
}
.nav-head{
    padding-left: 0;
}
.app-lab{
    font-family: 'Poppins', sans-serif;
   font-size:35px;
    font-weight:700;
   padding-left: 0;
   margin-top: 5px;
   
}
.app-lab div{
    display: inline;
}
.text-orang{
   color:  #f5f6f7;
}
.i-white{
    color: #02d1ac;
}
.menu{
    margin-top: 15px;
   
}
.menu li{
    padding-right:20px;
}
.menu li a{
    font-weight: 500;
    color: #f8f9fc !important;
    text-transform: capitalize;
    border-top: 2px solid #212426;
    border-bottom: 2px solid #212426;
    transition: .5s;
}
.menu li a:hover{
    color:#02d1ac !important ;
   border-top: 2px solid #02d1ac;
   border-bottom: 2px solid #02d1ac;
}
.btn1{
    font-size: 20px;
    background-color: #02d1ac ;
    color: #010101;
    border-radius:40px !important;
    padding: 12px 24px;
    margin-left: 15px;
    margin-top: -5px;
    text-transform: capitalize;
}
.btn1:hover{
    background-color:#ffffff !important ;
    color:#213438 !important ;
    text-decoration: underline;
}

/* banner start  */
.banner{
    background: #25435f;
    min-height: 600px;
}
.sl-text{
    color:#02d1ac ;
    padding-top: 100px;
    color: white;
    text-transform: capitalize
}
.sl-text h1{
    color:#02d1ac ;
    font-size:35px ;
}
.sl-text h3{
    color:#b6bcbd ;
    margin: 20px 0;
    font-size: 22px;
}
.sl-text p{
    font-weight: 300;
    font-size: 16px;
}
.contact-b{
    font-size: 20px;
    background-color: #02d1ac;
    color:#010101 ;
    border: none;
    padding: 14px 40px;
    border-radius: 10px ;
    transition: .5s;
}
.contact-b:hover{ 
    background-color: #fff;
    color: #010101;
    text-decoration: underline;
}
.cid {
    right: 252px;
    bottom: -78px;
    left: -62px;
    margin-left: 0%;

}
.cid [data-bs-target] {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #f0f5f7;
}
.car{
    margin-top: 50px !important;
}
/* animation */
.car{
    position: relative;
    animation:mymove 5s infinite;
}
@keyframes mymove {
   0% {top: 0px; left:50px;} 
  100% {top: 50px; left: 0px;}
  }
/* about part start */
.about{
    padding-top: 70px;
    padding-bottom: 80px;
}

.arrow{
    display: inline-block;
    background-color: #02d1ac;
    height: 2px;
    width: 250px;
}
.wrap h1{
    font-weight: 500;
    font-size: 45px;
    text-transform: capitalize;
}
.wrap p{
    margin-top: 15px;
    color: #25435f;
    font-size:22px ;
    text-align: center;
   width: 800px;
   margin-left:170px;
   text-transform: capitalize;
}
.img2{
  transition: .5s;
}
.img2:hover{
    transform: scale(1.1);
 
}
.text-p{
    margin-top:80px;
    margin-left:80px;
    width: 100%;
}
.text-p h2{
    font-size:28px;
    text-transform:capitalize;
}
.text-p p{
    margin-top: 25px;
    color: #5c6767;
    line-height: 28px;
}
/* service part start */
.service{
    padding-top: 70px;
   
    background-color: #25435f;
}
.h1{
    color: #ffffff;
}
.p{
    margin-top: 15px;
    color: #ffffff !important;
    font-size:22px ;
    text-align: center;
   width: 900px !important;
   margin-left:150px !important;
   text-transform: capitalize;
}
.service-part{
    margin-top: 50px;
   
}
.service-part i{
    color: #02d1ac;
    font-size: 55px;
    text-align: center;
    transition: .5s;
}
.service-part:hover i{
    transform: scale(1.5);
    color: #ffffff;
}
.service-part h2{
    color: #faf8f8;
    font-size: 22px;
    text-transform: capitalize;
    margin: 20px 0;
    text-align: center;
}
.service-part p{
    font-size: 16px;
  color: #b6bcbd;
  text-align: left;
  margin-left:20px;
}
.section2{
    padding-bottom: 80px;
    background-color: #25435f;
}
/* feature part start */
.service3{
    padding-top: 70px;
}
.wrap3 h1{
    color: #010101;
    font-weight: 500;
    font-size:45px;
    text-transform: capitalize;
}
.p2{
    margin-top: 15px;
    color: #25435f;
    font-size:22px ;
    text-align: center;
   width: 800px;
   margin-left:170px;
   text-transform: capitalize;
}
.section4{
    padding-bottom: 90px;
}
.helo{
    border: 1px solid #02d1ac;
    transition: .5s;
}
.helo:hover{
    transform: scale(1.05);
}
.servicep{
    margin-top: 50px;
}
.servicep h2{
    color: #010101;
    font-size:22px;
    margin: 22px 0;
    text-align: left;
    text-transform: capitalize;
   
}
.servicep p{
    color: #25435f;
    text-align: left;
}  
/* contact part start */
.service5{
    background: #25435f;
    padding-top: 70px;
    padding-bottom: 90px;
}
.service-p{}
.service-p i{
    font-size:65px;
    padding: 20px 20px;
    color: #02d1ac;
    border: 1px solid #02d1ac;
    border-radius: 50%;
    transition:.5s;
}
.service-p i:hover{
    color: #ffffff;
    transform: scale(1.3);
}
.service-p h2{
    color: #faf4f4;
    font-size: 30px;
    margin: 20px 0;
    text-transform: capitalize;
}
.service-p p{
    color: #b6bcbd;
    font-size: 18px;
    text-transform: uppercase;
}
.section5{
    background-color: #25435f;
    padding-bottom: 90px;
}
.email p{
    color: #b6bcbd;
    font-size: 18px;
    text-transform: lowercase;
}
/* footer start */
.footer{
    background-color: #212426;
    padding-top:40px ;
    padding-bottom: 60px;
}
.footer-part{
    margin-right: 20px;
}
.footer-part h2{
    margin: 25px 0;
    color: #02d1ac;
    text-align: left;
    text-transform: capitalize;
}
.footer-part p{
    text-align: left;
  font-size: 16px;
  color: #f0f5f7;
}
.f-menu{
    text-align: left;
}
.f-menu li a{
    color: #f0f5f7;
   text-transform: capitalize;
   text-decoration: none;
}
.f-menu li a:hover{
    color: #02d1ac;
   text-transform: capitalize;
   text-decoration: underline;
}
.f-menu li{
    margin-bottom: 15px;
}
.copy-text{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    text-align: center;
  margin-top: 20px;
}
.borde{
    margin-top: 20px;
    border-top: 1px solid #525658;
}













/*card part start*/
.c_card{
    padding: 70px 0;
    
}
.card_top_heading{
    margin-bottom: 130px;
}
.card_top_heading h2{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}
.card_top_heading h2 span{
    color: #057e9d;
}
.card_content{
    padding: 25px;
    background-color: #f5f4f2;
    position: relative;
    transition: 1s;
    z-index: 0;

}

.card_content:before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 75px solid #1b1b1b;
    border-left: 75px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

    
}
.card_content:after{
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 25px;
    color: #057e9d;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.card_content:hover:before,
.card_content:hover:after{
    opacity: 1;
    visibility: visible;
}
.card_content:hover{
    background-color: #057e9d;
}
.card_content h3{
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 900;
    text-transform: uppercase;
}
.card_content p{
    
}
.card_content span{
    margin: 20px 0;
    font-size: 40px;
    font-weight: 900;
    color: #057e9d;
    display: block;
    text-transform: uppercase;
    transition: .5s;
}
.card_content:hover span{
    color: #101010;
}
.card_img{
    margin-top: -100px;
    margin-bottom: 20px;
}
.card_content:hover .card_btn{
    background-color: #1b1b1b;
    color: #fff;
}

/*card part end*/
.c_btn{
    width: 165px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    transition: .5s;
}
.btn_yellow{
    background-color: #ffc61a;
    color: #1b1b1b;
}
.btn_yellow:hover{
    background-color: #1b1b1b;
    color: #fff;
}